In [1]:
println("Hi from scala in ibm watson studio")

Hi from scala in ibm watson studio

In [2]:
println("Yoyoyoyoyo")

Yoyoyoyoyo

In [3]:
val x = 2
val y = 3

x+y

x = 2
y = 3

5

In [6]:
val data = Seq((1,2,3),(4,5,6),(6,7,8))
val ds = spark.createDataset(data)
ds.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  6|  7|  8|
+---+---+---+

data = List((1,2,3), (4,5,6), (6,7,8))
ds = [_1: int, _2: int ... 1 more field]

[_1: int, _2: int ... 1 more field]

In [13]:
1 to 100

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [16]:
1 to 100000

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 17...

In [17]:
(1 to 10).map(x=>x+1)

Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [30]:
(0 to 9).map(x=>x/4)

Vector(0, 0, 0, 0, 1, 1, 1, 1, 2, 2)

In [19]:
(1 to 10).map(x=>x+x)

Vector(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [25]:
(1 to 10).map(x=>x%3)

Vector(1, 2, 0, 1, 2, 0, 1, 2, 0, 1)

In [46]:
val a = 1 to 10 //immutable

a = Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [47]:
a

Range(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [56]:
var b = a.map(x => x+1) //mutable

b = Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [50]:
b //immutable is better thn mutable so val is better than var

Vector(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [54]:
var c = b.map(x=> x+33)

c = Vector(35, 36, 37, 38, 39, 40, 41, 42, 43, 44)

Vector(35, 36, 37, 38, 39, 40, 41, 42, 43, 44)

In [55]:
c

Vector(35, 36, 37, 38, 39, 40, 41, 42, 43, 44)